@font-face {
    font-family: 'CopperPlate';
    src: url('Fonts/Copperplate Gothic/Copperplate Gothic Regular/Copperplate Gothic Regular.otf');
}

:root {
    --globalFont:'CopperPlate';
    --regular-weight:400;
}

.main_content {
    font-family: var(--globalFont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_content > h1 {
    text-decoration: underline;
    font-weight: 400;
}

.main_content .personal_background > h3 {
    font-weight: var(--regular-weight);
}