@font-face {
    font-family: 'CopperPlate';
    src: url('Fonts/Copperplate Gothic/Copperplate Gothic Regular/Copperplate Gothic Regular.otf');
}

:root {
    --globalFont:'CopperPlate';
    --regular-weight:400;
}

.main_content {
    font-family: var(--globalFont);
    height: 100vh;
    width: 60vw;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 0.5px black;
    border-right: solid 0.5px black;
}

.site_wrapper {
    display: flex;
    justify-content: center;
    background-color: #7d765b3a;
}

.main_content .title {
    color: #7d765b;
    font-size: 2.5rem;  
    text-decoration: underline;
    font-weight: 400;
    margin-top: 3vh;
    text-decoration-thickness: 2px;
}

.main_content .personal_background { 
    margin-top: 1.5vh;
}

.main_content .personal_background > h3 {
    font-weight: var(--regular-weight);
    font-size: 1.3rem;
    margin-bottom: 2vh;
    font-weight: 500;
    color: #4a4842;
}

h4 {
    font-weight: var(--regular-weight);
    font-size: 1rem;
    margin-bottom: 1vh;
    font-weight: 500;
    color: #4a4842;
}

.personal_background {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal_background > p {
    color: #1a1a1a;
} 

.personal_background > .intro_paragraph {
    margin-bottom: 1.5em;
}

.portfolio {
    margin-bottom: 1.5em;
}

.socials_title {
    margin-top: 1.5vh;
}

